<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Book detail</title>
		<link rel="stylesheet" href="../assets/css/reset.css" />
		<link
			rel="stylesheet"
			href="../assets/fonts/fontawesome-free-6.1.1-web/fontawesome-free-6.1.1-web/css/all.min.css"
		/>
		<link rel="stylesheet" href="../assets/css/base.css" />
		<link rel="stylesheet" href="../assets/css/style.css" />
		<link
			rel="stylesheet"
			type="text/css"
			href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
		/>
		<link rel="stylesheet" href="../assets/css/book_details.css" />
	</head>
	<body>
		<my-header></my-header>
		<section class="book--details__section grid">
			<div class="grid__row">
				<div class="leftside grid__column-5">
					<img
						src="../assets/img/willimg.jpg"
						alt=""
						class="book--details__image"
					/>
				</div>
				<div class="rightside grid__column-5">
					<div class="book--details">
						<div class="book--details__header">
							<div class="book-info">
								<h3 class="book-name">Will</h3>
								<h4 class="book-auth thin--text">Will Smith, Mark Manson</h4>
							</div>
							<span class="book-price">15$</span>
						</div>
						<div class="book--details__body">
							<div class="book--details__tag">
								<div class="book-tag__name">Book type:</div>
								<div class="book-tag__value">War & Combat Fiction</div>
							</div>
							<!-- <div class="book--details__tag">
								<div class="book-tag__name">Book language:</div>
								<div class="book-tag__value">
									<div class="tag-item">
										<input
											type="radio"
											id="eng"
											name="book-language"
											class="tag-radio"
										/>
										<label for="eng" class="tag-label"> eng </label>
									</div>
									<div class="tag-item">
										<input
											type="radio"
											id="ukr"
											name="book-language"
											class="tag-radio"
											checked
										/>
										<label for="ukr" class="tag-label"> ukr </label>
									</div>
									<div class="tag-item">
										<input
											type="radio"
											id="rus"
											name="book-language"
											class="tag-radio"
										/>
										<label for="rus" class="tag-label"> rus </label>
									</div>
								</div>
							</div> -->
							<div class="book--details__addtocart">
								<div class="book-quantity">
									<i class="fa-solid fa-minus"></i>
									<span class="quantity">1</span>
									<i class="fa-solid fa-plus"></i>
								</div>
								<a href="#" class="button--rounded">add to cart</a>
							</div>
							<div class="book--details__desc">
								<h3 class="desc--header">Description</h3>
								<p class="desc--content thin--text">
									Some collapsible content. Click the button to toggle between
									showing and hiding the collapsible content. Lorem ipsum dolor
									sit amet, consectetur adipisicing elit, sed do eiusmod tempor
									incididunt ut labore et dolore magna aliqua. Ut enim ad minim
									veniam, quis nostrud exercitation ullamco laboris nisi ut
									aliquip ex ea commodo consequat. Some collapsible content.
									Click the button to toggle between showing and hiding the
									collapsible content. Lorem ipsum dolor sit amet, consectetur
									adipisicing elit, sed do eiusmod tempor incididunt ut labore
									et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
									exercitation ullamco laboris nisi ut aliquip ex ea commodo
									consequat. Some collapsible content. Click the button to
									toggle between showing and hiding the collapsible content.
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
									do eiusmod tempor incididunt ut labore et dolore magna aliqua.
									Ut enim ad minim veniam, quis nostrud exercitation ullamco
									laboris nisi ut aliquip ex ea commodo consequat. Some
									collapsible content. Click the button to toggle between
									showing and hiding the collapsible content. Lorem ipsum dolor
									sit amet, consectetur adipisicing elit, sed do eiusmod tempor
									incididunt ut labore et dolore magna aliqua. Ut enim ad minim
									veniam, quis nostrud exercitation ullamco laboris nisi ut
									aliquip ex ea commodo consequat. Some collapsible content.
									Click the button to toggle between showing and hiding the
									collapsible content. Lorem ipsum dolor sit amet, consectetur
									adipisicing elit, sed do eiusmod tempor incididunt ut labore
									et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
									exercitation ullamco laboris nisi ut aliquip ex ea commodo
									consequat.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="similarly--book__section grid">
			<h2 class="section--header strong--text">
				Products related to this item
			</h2>
			<div class="similarly--book__slider">
				<div class="book--item">
					<a href="./book_details.html" class="book--item__link">
						<div class="book--item__img">
							<img src="../assets/img/howtolive.jpg" />
						</div>
						<div class="book--item__info">
							<h3 class="book--item__name">Will</h3>
							<h4 class="book--item__auth">Will Smith, Mark Manson</h4>
						</div>
					</a>
				</div>
				<div class="book--item">
					<a href="./book_details.html" class="book--item__link">
						<div class="book--item__img">
							<img src="../assets/img/willimg.jpg" />
						</div>
						<div class="book--item__info">
							<h3 class="book--item__name">Will</h3>
							<h4 class="book--item__auth">Will Smith, Mark Manson</h4>
						</div>
					</a>
				</div>
				<div class="book--item">
					<a href="./book_details.html" class="book--item__link">
						<div class="book--item__img">
							<img src="../assets/img/howtolive.jpg" />
						</div>
						<div class="book--item__info">
							<h3 class="book--item__name">Will</h3>
							<h4 class="book--item__auth">Will Smith, Mark Manson</h4>
						</div>
					</a>
				</div>
				<div class="book--item">
					<a href="./book_details.html" class="book--item__link">
						<div class="book--item__img">
							<img src="../assets/img/ulysses.jpg" />
						</div>
						<div class="book--item__info">
							<h3 class="book--item__name">Will</h3>
							<h4 class="book--item__auth">Will Smith, Mark Manson</h4>
						</div>
					</a>
				</div>
				<div class="book--item">
					<a href="./book_details.html" class="book--item__link">
						<div class="book--item__img">
							<img src="../assets/img/howtolive.jpg" />
						</div>
						<div class="book--item__info">
							<h3 class="book--item__name">Will</h3>
							<h4 class="book--item__auth">Will Smith, Mark Manson</h4>
						</div>
					</a>
				</div>
				<div class="book--item">
					<a href="./book_details.html" class="book--item__link">
						<div class="book--item__img">
							<img src="../assets/img/howtolive.jpg" />
						</div>
						<div class="book--item__info">
							<h3 class="book--item__name">Will</h3>
							<h4 class="book--item__auth">Will Smith, Mark Manson</h4>
						</div>
					</a>
				</div>
				<div class="book--item">
					<a href="./book_details.html" class="book--item__link">
						<div class="book--item__img">
							<img src="../assets/img/howtolive.jpg" />
						</div>
						<div class="book--item__info">
							<h3 class="book--item__name">Will</h3>
							<h4 class="book--item__auth">Will Smith, Mark Manson</h4>
						</div>
					</a>
				</div>
			</div>
		</section>
		<section class="review__section grid">
			<h2 class="section--header strong--text">Reviews</h2>
			<div class="review--body">
				<div class="review--box">
					<div class="review--content">
						<p>
							Lorem ipsum dolor sit amet consectetur, adipisicing elit
							voluptatibus incidunt molestias doloremque tempora, eos fugit at
							totam accusamus exercitationem? Quia maxime, sint eaque magni
							velit corrupti minima tenetur? Lorem ipsum dolor sit amet
							consectetur, adipisicing elit. Dignissimos repellendus
							voluptatibus incidunt molestias doloremque tempora, eos fugit at
							Lorem ipsum dolor sit amet consectetur, adipisicing elit
							voluptatibus incidunt molestias doloremque tempora, eos fugit at
							totam accusamus exercitationem? Quia maxime, sint eaque magni
							velit corrupti minima tenetur? Lorem ipsum dolor sit amet
							consectetur, adipisicing elit. Dignissimos repellendus
							voluptatibus incidunt molestias doloremque tempora, eos fugit at
							Lorem ipsum dolor sit amet consectetur, adipisicing elit
							voluptatibus incidunt molestias doloremque tempora, eos fugit at
							totam accusamus exercitationem? Quia maxime, sint eaque magni
							velit corrupti minima tenetur? Lorem ipsum dolor sit amet
							consectetur, adipisicing elit. Dignissimos repellendus
							voluptatibus incidunt molestias doloremque tempora, eos fugit at
							Lorem ipsum dolor sit amet consectetur, adipisicing elit
							voluptatibus incidunt molestias doloremque tempora, eos fugit at
							totam accusamus exercitationem? Quia maxime, sint eaque magni
							velit corrupti minima tenetur? Lorem ipsum dolor sit amet
							consectetur, adipisicing elit. Dignissimos repellendus
							voluptatibus incidunt molestias doloremque tempora, eos fugit at
							Lorem ipsum dolor sit amet consectetur, adipisicing elit
							voluptatibus incidunt molestias doloremque tempora, eos fugit at
							totam accusamus exercitationem? Quia maxime, sint eaque magni
							velit corrupti minima tenetur? Lorem ipsum dolor sit amet
							consectetur, adipisicing elit. Dignissimos repellendus
							voluptatibus incidunt molestias doloremque tempora, eos fugit at
							totam accusamus exercitationem? Quia maxime, sint eaque magni
							velit corrupti minima tenetur?
						</p>
					</div>
					<a class="read--more"></a>
					<div class="user--review__info">
						<div class="user--profile">
							<div class="user--avatar">
								<img src="../assets/img/user_icon.svg" alt="" />
							</div>
							<h3 class="user--name">Loc Son</h3>
						</div>
						<div class="review--star">
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-regular fa-star"></i>
						</div>
					</div>
				</div>
				<div class="review--box">
					<div class="review--content">
						<p>
							Lorem ipsum dolor sit amet consectetur, adipisicing elit
							voluptatibus incidunt molestias doloremque tempora, eos fugit at
							totam accusamus exercitationem? Quia maxime, sint eaque magni
							velit corrupti minima tenetur? Lorem ipsum dolor sit amet
							consectetur, adipisicing elit. Dignissimos repellendus
							voluptatibus incidunt molestias doloremque tempora, eos fugit at
							Lorem ipsum dolor sit amet consectetur, adipisicing elit
							voluptatibus incidunt molestias doloremque tempora, eos fugit at
							totam accusamus exercitationem? Quia maxime, sint eaque magni
							velit corrupti minima tenetur? Lorem ipsum dolor sit amet
							consectetur, adipisicing elit. Dignissimos repellendus
							voluptatibus incidunt molestias doloremque tempora, eos fugit at
							Lorem ipsum dolor sit amet consectetur, adipisicing elit
							voluptatibus incidunt molestias doloremque tempora, eos fugit at
							totam accusamus exercitationem? Quia maxime, sint eaque magni
							velit corrupti minima tenetur? Lorem ipsum dolor sit amet
							consectetur, adipisicing elit. Dignissimos repellendus
							voluptatibus incidunt molestias doloremque tempora, eos fugit at
							Lorem ipsum dolor sit amet consectetur, adipisicing elit
							voluptatibus incidunt molestias doloremque tempora, eos fugit at
							totam accusamus exercitationem? Quia maxime, sint eaque magni
							velit corrupti minima tenetur? Lorem ipsum dolor sit amet
							consectetur, adipisicing elit. Dignissimos repellendus
							voluptatibus incidunt molestias doloremque tempora, eos fugit at
							Lorem ipsum dolor sit amet consectetur, adipisicing elit
							voluptatibus incidunt molestias doloremque tempora, eos fugit at
							totam accusamus exercitationem? Quia maxime, sint eaque magni
							velit corrupti minima tenetur? Lorem ipsum dolor sit amet
							consectetur, adipisicing elit. Dignissimos repellendus
							voluptatibus incidunt molestias doloremque tempora, eos fugit at
							totam accusamus exercitationem? Quia maxime, sint eaque magni
							velit corrupti minima tenetur?
						</p>
					</div>
					<a class="read--more"></a>
					<div class="user--review__info">
						<div class="user--profile">
							<div class="user--avatar">
								<img src="../assets/img/user_icon.svg" alt="" />
							</div>
							<h3 class="user--name">Loc Son</h3>
						</div>
						<div class="review--star">
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-regular fa-star"></i>
						</div>
					</div>
				</div>
				<div class="review--box">
					<div class="review--content">
						<p>
							Lorem ipsum dolor sit amet consectetur, adipisicing elit
							voluptatibus incidunt molestias doloremque tempora, eos fugit at
							totam accusamus exercitationem? Quia maxime, sint eaque magni
							velit corrupti minima tenetur? Lorem ipsum dolor sit amet
							consectetur, adipisicing elit. Dignissimos repellendus
							voluptatibus incidunt molestias doloremque tempora, eos fugit at
							Lorem ipsum dolor sit amet consectetur, adipisicing elit
							voluptatibus incidunt molestias doloremque tempora, eos fugit at
							totam accusamus exercitationem? Quia maxime, sint eaque magni
							velit corrupti minima tenetur? Lorem ipsum dolor sit amet
							consectetur, adipisicing elit. Dignissimos repellendus
							voluptatibus incidunt molestias doloremque tempora, eos fugit at
							Lorem ipsum dolor sit amet consectetur, adipisicing elit
							voluptatibus incidunt molestias doloremque tempora, eos fugit at
							totam accusamus exercitationem? Quia maxime, sint eaque magni
							velit corrupti minima tenetur? Lorem ipsum dolor sit amet
							consectetur, adipisicing elit. Dignissimos repellendus
							voluptatibus incidunt molestias doloremque tempora, eos fugit at
							Lorem ipsum dolor sit amet consectetur, adipisicing elit
							voluptatibus incidunt molestias doloremque tempora, eos fugit at
							totam accusamus exercitationem? Quia maxime, sint eaque magni
							velit corrupti minima tenetur? Lorem ipsum dolor sit amet
							consectetur, adipisicing elit. Dignissimos repellendus
							voluptatibus incidunt molestias doloremque tempora, eos fugit at
							Lorem ipsum dolor sit amet consectetur, adipisicing elit
							voluptatibus incidunt molestias doloremque tempora, eos fugit at
							totam accusamus exercitationem? Quia maxime, sint eaque magni
							velit corrupti minima tenetur? Lorem ipsum dolor sit amet
							consectetur, adipisicing elit. Dignissimos repellendus
							voluptatibus incidunt molestias doloremque tempora, eos fugit at
							totam accusamus exercitationem? Quia maxime, sint eaque magni
							velit corrupti minima tenetur?
						</p>
					</div>
					<a class="read--more"></a>
					<div class="user--review__info">
						<div class="user--profile">
							<div class="user--avatar">
								<img src="../assets/img/user_icon.svg" alt="" />
							</div>
							<h3 class="user--name">Loc Son</h3>
						</div>
						<div class="review--star">
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-regular fa-star"></i>
						</div>
					</div>
				</div>
				<div class="review--box">
					<div class="review--content">
						<p>
							Lorem ipsum dolor sit amet consectetur, adipisicing elit
							voluptatibus incidunt molestias doloremque tempora, eos fugit at
							totam accusamus exercitationem? Quia maxime, sint eaque magni
							velit corrupti minima tenetur? Lorem ipsum dolor sit amet
							consectetur, adipisicing elit. Dignissimos repellendus
						</p>
					</div>
					<a class="read--more"></a>
					<div class="user--review__info">
						<div class="user--profile">
							<div class="user--avatar">
								<img src="../assets/img/user_icon.svg" alt="" />
							</div>
							<h3 class="user--name">Loc Son</h3>
						</div>
						<div class="review--star">
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-regular fa-star"></i>
						</div>
					</div>
				</div>
			</div>
		</section>
		<my-footer></my-footer>
		<script src="../scripts/load_html.js"></script>
		<!-- Slick slider -->
		<script
			type="text/javascript"
			src="https://code.jquery.com/jquery-1.11.0.min.js"
		></script>
		<script
			type="text/javascript"
			src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"
		></script>
		<script
			type="text/javascript"
			src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
		></script>
		<script src="../scripts/slider.js"></script>
		<script src="../scripts/readmore.js"></script>
		<!-- end slick slider -->
	</body>
</html>
