<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Cart</title>
		<link rel="stylesheet" href="../assets/css/reset.css" />
		<link
			rel="stylesheet"
			href="../assets/fonts/fontawesome-free-6.1.1-web/fontawesome-free-6.1.1-web/css/all.min.css"
		/>
		<link rel="stylesheet" href="../assets/css/base.css" />
		<link rel="stylesheet" href="../assets/css/style.css" />
	</head>
	<body>
		<my-header></my-header>
		<section class="cart__shop grid">
			<div class="grid__row">
				<div class="card__shop-container">
					<h2 class="card__shop-title">Book cart</h2>
					<div class="card__shop-content">
						<div class="card__shop-list">
							<label class="option__item">
								<div class="option__item-row">
									<div class="option__item-tag option-first-tag">Item</div>
									<div class="option__item-tag">Unit price</div>
									<div class="option__item-tag">Quantity</div>
									<div class="option__item-tag">Final price</div>
								</div>
							</label>
							<div class="option__item">
								<input
									type="checkbox"
									class="item-checkbox"
									id="item-checkbox"
								/>
								<label for="item-checkbox" class="checkmark"></label>
								<div class="option__item-row">
									<div class="option__item-info">
										<img
											src="../assets/img/bookofthemonth.jpg"
											alt=""
											class="option__item-img"
										/>
										<div class="option__item-text">
											<p class="option__item-name">
												Will Will Will WillWill Will Will WillWill Will Will
												Will
											</p>
											<p class="option__item-author">
												Will Smith, Mark MansonWill Smith, Mark MansonWill
												Smith, Mark Manson
											</p>
										</div>
									</div>
									<div class="option__item-price">15$</div>
									<div class="option__item--quantity">
										<i class="fa-solid fa-minus minus--button"></i>
										<span class="item--quantity">1</span>
										<i class="fa-solid fa-plus plus--button"></i>
									</div>
									<div class="option__item-final-price">30$</div>
								</div>
							</div>
							<div class="option__item">
								<input
									type="checkbox"
									class="item-checkbox"
									id="item-checkbox"
								/>
								<label class="checkmark"></label>
								<div class="option__item-row">
									<div class="option__item-info">
										<img
											src="../assets/img/bookofthemonth.jpg"
											alt=""
											class="option__item-img"
										/>
										<div class="option__item-text">
											<p class="option__item-name">
												Will Will Will WillWill Will Will WillWill Will Will
												Will
											</p>
											<p class="option__item-author">
												Will Smith, Mark MansonWill Smith, Mark MansonWill
												Smith, Mark Manson
											</p>
										</div>
									</div>
									<div class="option__item-price">15$</div>
									<div class="option__item--quantity">
										<i class="fa-solid fa-minus minus--button"></i>
										<span class="item--quantity">1</span>
										<i class="fa-solid fa-plus plus--button"></i>
									</div>
									<div class="option__item-final-price">30$</div>
								</div>
							</div>
						</div>
						<div class="card__checkbox">
							<div class="card__checkbox-title">Summary</div>
							<div class="card__checkbox-list">
								<div class="card__checkbox-item">
									<div class="card__checkbox-tag">Subtotal</div>
									<div class="card__checkbox-price">$45</div>
								</div>
								<div class="card__checkbox-item">
									<div class="card__checkbox-tag"></div>
									<form
										action="/views/checkout.html"
										method="get"
										id="giftcode-form"
									>
										<input
											type="text"
											class="card__checkbox-giftcode"
											placeholder="Enter gift code"
										/>
									</form>
									<button
										type="submit"
										form="giftcode-form"
										class="button--rounded card__gift-button"
									>
										Enter
									</button>
								</div>
								<div class="card__checkbox-item">
									<div class="card__checkbox-tag">Total Price</div>
									<div class="card__checkbox-total-price">$45</div>
								</div>
								<button
									type="submit"
									form="giftcode-form"
									class="button--rounded card-checkout__button"
								>
									Check Out
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<my-footer></my-footer>
		<script src="../scripts/load_html.js"></script>
		<script src="../scripts/edit_quantity.js"></script>
	</body>
</html>
