<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Checkout</title>
		<link rel="stylesheet" href="../assets/css/reset.css" />
		<link
			rel="stylesheet"
			href="../assets/fonts/fontawesome-free-6.1.1-web/fontawesome-free-6.1.1-web/css/all.min.css"
		/>
		<link rel="stylesheet" href="../assets/css/base.css" />
		<link rel="stylesheet" href="../assets/css/style.css" />
	</head>
	<body>
		<my-header></my-header>
		<section class="checkout grid">
			<form action="./thanks.html" method="get" class="form--checkout" id="form--checkout">
				<div class="grid__row">
					<div class="leftside grid__column-6">
						<h3 class="leftside--header">Check out</h3>
						<div class="checkout--body">
							<div class="checkout--step_progress_bar">
								<ul class="progressbar">
									<li class="active">information</li>
									<li>payment</li>
								</ul>
							</div>
							<div class="checkout--body__info">
								<div class="form_1 form--container">
									<div class="form--header">
										<span class="strong--text">New customer</span> / regular
										customer
									</div>
									<div class="form--checkout-group">
										<label for="name_and_surname" class="form--checkout-label"
											>1. name and surname</label
										>
										<input
											type="text"
											id="name_and_surname"
											placeholder="Your name"
											class="form--checkout-textbox"
										/>
										<span class="form--checkout-message"></span>
									</div>
									<div class="form--checkout-group">
										<label for="phone_number" class="form--checkout-label"
											>2. phone number</label
										>
										<div class="dropdown">
											<div class="dropdown-select dropdown-select__phonenumber">
												<span class="select">+84</span>
												<i class="fa fa-caret-down icon"></i>
											</div>
											<div class="dropdown-list">
												<div class="dropdown-list__item">+340</div>
												<div class="dropdown-list__item">+551</div>
												<div class="dropdown-list__item">+84</div>
											</div>
										</div>
										<input
											type="text"
											id="phone_number"
											placeholder="357416074"
											class="form--checkout-textbox"
										/>
										<span class="form--checkout-message"></span>
									</div>
									<div class="form--checkout-group">
										<label for="email" class="form--checkout-label"
											>3. e-mail</label
										>
										<input
											type="email"
											id="email"
											placeholder="email@gmail.com"
											class="form--checkout-textbox"
										/>
										<span class="form--checkout-message"></span>
									</div>
									<!-- <div class="form--checkout-group">
										<div class="form--checkout-label">4. country</div>
										<select name="ls_province"></select>
										<select name="ls_district"></select>
										<select name="ls_ward"></select>
										<select class="dropdown">
											<option class="dropdown-select dropdown-select__country">
												<span class="select">Viet Nam</span>
												<i class="fa fa-caret-down icon"></i>
											</option>
											<div class="dropdown-list">
												<div class="dropdown-list__item">China</div>
												<div class="dropdown-list__item">Viet Nam</div>
												<div class="dropdown-list__item">Singapore</div>
											</div>
										</select>
										<div class="form--checkout-label city">city</div>
										<div class="dropdown">
											<div class="dropdown-select dropdown-select__city">
												<span class="select">Vung Tau</span>
												<i class="fa fa-caret-down icon"></i>
											</div>
											<div class="dropdown-list">
												<div class="dropdown-list__item">HCM</div>
												<div class="dropdown-list__item">Da Nang</div>
												<div class="dropdown-list__item">Vung Tau</div>
											</div>
										</div>
										<span class="form--checkout-message"></span>
									</div> -->

									<div class="form--checkout-group">
										<div class="form--checkout-label">4. address</div>
										<select name="ls_province" class="local-selector"></select>
										<select name="ls_district" class="local-selector"></select>
										<select name="ls_ward" class="local-selector"></select>
									</div>
									<div class="form--checkout-group">
										<label for="email" class="form--checkout-label"
											>5. address details</label
										>
										<input
											type="email"
											id="email"
											placeholder="your address"
											class="form--checkout-textbox long--textbox"
										/>
										<span class="form--checkout-message"></span>
									</div>
									<!-- <div class="form--checkout-group">
										<input
											type="checkbox"
											id="loyalty"
											placeholder="email@gmail.com"
											class="form--checkout-checkbox"
										/>
										<label for="loyalty" class="form--checkout-label"
											>I want to be a part of the loyalty system</label
										>
										<span class="form--checkout-message"></span>
									</div>
									<div class="form--checkout-group">
										<input
											type="checkbox"
											id="docallback"
											placeholder="email@gmail.com"
											class="form--checkout-checkbox"
										/>
										<label for="docallback" class="form--checkout-label"
											>Please, don't call me back</label
										>
										<span class="form--checkout-message"></span>
									</div> -->
								</div>

								<div class="form_2 form--container" style="display: none">
									<div class="form--header">
										<span class="strong--text">Payment</span>
									</div>
									<div class="checkout-payment--header">select method</div>
									<div class="form--checkout-group">
										<div class="checkout-payment-method">
											<div class="radio-item">
												<label for="apple-pay" class="form--checkout-label">
													<i class="fa-brands fa-apple-pay radio-icon"></i>
													<p>apple pay</p>
												</label>
												<input
													type="radio"
													id="apple-pay"
													class="form--checkout-radio"
													name="checkout-payment-method"
												/>
											</div>
											<div class="radio-item">
												<label for="google-pay" class="form--checkout-label">
													<i class="fa-brands fa-google-pay radio-icon"></i>
													<p>google pay</p>
												</label>
												<input
													type="radio"
													id="google-pay"
													name="checkout-payment-method"
													class="form--checkout-radio"
												/>
											</div>
											<div class="radio-item">
												<label for="credit-pay" class="form--checkout-label">
													<i class="fa-regular fa-credit-card radio-icon"></i>
													<p>credit pay</p>
												</label>
												<input
													type="radio"
													id="credit-pay"
													name="checkout-payment-method"
													class="form--checkout-radio"
													checked
												/>
											</div>
										</div>
										<span class="form--checkout-status"></span>
										<span class="form--checkout-message"></span>
									</div>
									<div class="form--checkout-group valid">
										<label for="card_number" class="form--checkout-label">
											1. card number
										</label>
										<input
											type="text"
											id="card_number"
											placeholder="2222 2222 2222 2222"
											class="form--checkout-textbox"
										/>
										<span class="form--checkout-status"></span>
										<span class="form--checkout-message"></span>
									</div>
									<div class="form--checkout-group">
										<label for="name_on_card" class="form--checkout-label"
											>2. name on card</label
										>
										<input
											type="text"
											id="name_on_card"
											placeholder="Your address"
											class="form--checkout-textbox"
										/>
										<span class="form--checkout-status"></span>
										<span class="form--checkout-message"></span>
									</div>
									<div class="form--checkout-group">
										<label for="date_of_expire" class="form--checkout-label"
											>3. date of expire</label
										>
										<input
											type="text"
											id="date_of_expire"
											placeholder="06/41"
											class="form--checkout-textbox"
										/>
										<span class="form--checkout-status"></span>
										<span class="form--checkout-message"></span>
									</div>
									<div class="form--checkout-group">
										<label for="CVV" class="form--checkout-label">4. CVV</label>
										<input
											type="text"
											id="CVV"
											placeholder="111"
											class="form--checkout-textbox"
										/>
										<span class="form--checkout-status"></span>
										<span class="form--checkout-message"></span>
									</div>
								</div>
							</div>
							<div class="checkout--button">
								<div class="form_1_btn">
									<a class="button--rounded next--button">Next Step</a>
								</div>

								<div class="form_2_btn" style="display: none">
									<a class="button--outline_round back--button">Back</a>
									<button
										type="submit"
										form="form--checkout"
										class="button--rounded pay--button"
									>
										Pay
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="rightside grid__column-4">
						<h3 class="rightside--header">Order</h3>
						<div class="order--details">
							<div class="product--card">
								<span class="ordinal_number">1.</span>
								<img
									src="../assets/img/willimg.jpg"
									alt=""
									class="product--img"
								/>
								<div class="product--info">
									<h3 class="product--name">Will</h3>
									<h4 class="product--auth thin--text">
										Will Smith, Mark Manson
									</h4>
								</div>
								<div class="product--quantity">
									<i class="fa-solid fa-minus"></i>
									<span class="quantity">1</span>
									<i class="fa-solid fa-plus"></i>
								</div>
								<div class="product--rightside">
									<a href="#" class="discard--button">
										<i class="fa-solid fa-xmark"></i>
									</a>
									<p class="product--price">15$</p>
								</div>
							</div>
							<div class="product--card">
								<span class="ordinal_number">2.</span>
								<img
									src="../assets/img/howtolive.jpg"
									alt=""
									class="product--img"
								/>
								<div class="product--info">
									<h3 class="product--name">How to live</h3>
									<h4 class="product--auth thin--text">Josh Cohen</h4>
								</div>
								<div class="product--quantity">
									<i class="fa-solid fa-minus"></i>
									<span class="quantity">1</span>
									<i class="fa-solid fa-plus"></i>
								</div>
								<div class="product--rightside">
									<a href="#" class="discard--button">
										<i class="fa-solid fa-xmark"></i>
									</a>
									<p class="product--price">15$</p>
								</div>
							</div>
							<div class="product--card">
								<span class="ordinal_number">3.</span>
								<img
									src="../assets/img/ulysses.jpg"
									alt=""
									class="product--img"
								/>
								<div class="product--info">
									<h3 class="product--name">Ulysses</h3>
									<h4 class="product--auth thin--text">Vintage Joyse</h4>
								</div>

								<div class="product--quantity">
									<i class="fa-solid fa-minus"></i>
									<span class="quantity">1</span>
									<i class="fa-solid fa-plus"></i>
								</div>
								<div class="product--rightside">
									<a href="#" class="discard--button">
										<i class="fa-solid fa-xmark"></i>
									</a>
									<p class="product--price">15$</p>
								</div>
							</div>
							<div class="other--fee">
								<div class="fee--card delivery">
									<div class="fee--info">
										<div class="fee--name">+ delivery</div>
										<p class="fee--desc thin--text">
											add just 5$ more for free delivery
										</p>
									</div>
									<div class="fee--cost">2$</div>
								</div>
								<div class="fee--card loyalty">
									<div class="fee--info">
										<div class="fee--name">+ loyalty system</div>
										<p class="fee--desc thin--text">
											you will able to pay with bonuses from the next purchase
										</p>
									</div>
									<div class="fee--cost">0$</div>
								</div>
							</div>
							<div class="amount">
								<div class="amount--info">
									<div class="amount--header">amount</div>
									<div class="order--date thin--text">
										Order issued on 10.10.2022
									</div>
								</div>
								<div class="total--amount">32$</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</section>
		<my-footer></my-footer>
		<script src="../scripts/load_html.js"></script>
		<script src="../scripts/multistep_form.js"></script>
		<script src="../scripts/vietnamlocalselector.js"></script>
		<script>
			var localpicker = new LocalPicker({
				province: "ls_province",
				district: "ls_district",
				ward: "ls_ward",
			});
		</script>
	</body>
</html>
