<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Checkout</title>
		<link rel="stylesheet" href="../assets/css/reset.css" />
		<link
			rel="stylesheet"
			href="../assets/fonts/fontawesome-free-6.1.1-web/fontawesome-free-6.1.1-web/css/all.min.css"
		/>
		<link rel="stylesheet" href="../assets/css/base.css" />
		<link rel="stylesheet" href="../assets/css/style.css" />
	</head>
	<body>
		<my-header></my-header>
		<section class="checkout grid">
			<div class="grid__row">
				<div class="leftside grid__column-6">
					<h3 class="leftside--header">Check out</h3>
					<div class="checkout--body">
						<div class="checkout--step_progress_bar">
							<ul class="progressbar">
								<li>information</li>
								<li>delivery</li>
								<li class="active">payment</li>
							</ul>
						</div>
						<div class="checkout--body__info">
							<div class="form--container">
								<form
									action=""
									method="post"
									class="form--checkout"
									id="form--checkout"
								>
									<div class="form--header">
										<span class="strong--text">Payment</span>
									</div>
									<div class="checkout-payment--header">select method</div>
									<div class="form--checkout-group">
										<div class="checkout-payment-method">
											<div class="radio-item">
												<label for="apple-pay" class="form--checkout-label">
													<i class="fa-brands fa-apple-pay radio-icon"></i>
													<p>apple pay</p>
												</label>
												<input
													type="radio"
													id="apple-pay"
													class="form--checkout-radio"
													name="checkout-payment-method"
												/>
											</div>
											<div class="radio-item">
												<label for="google-pay" class="form--checkout-label">
													<i class="fa-brands fa-google-pay radio-icon"></i>
													<p>google pay</p>
												</label>
												<input
													type="radio"
													id="google-pay"
													name="checkout-payment-method"
													class="form--checkout-radio"
												/>
											</div>
											<div class="radio-item">
												<label for="credit-pay" class="form--checkout-label">
													<i class="fa-regular fa-credit-card radio-icon"></i>
													<p>credit pay</p>
												</label>
												<input
													type="radio"
													id="credit-pay"
													name="checkout-payment-method"
													class="form--checkout-radio"
												/>
											</div>
										</div>
										<span class="form--checkout-status"></span>
										<span class="form--checkout-message"></span>
									</div>
									<div class="form--checkout-group valid">
										<div class="form--checkout-label checkout-deli">
											2. as you prefer?
										</div>
										<div class="dropdown">
											<div
												class="dropdown-select dropdown-select__shippingmethod"
											>
												<span class="select">department</span>
												<i class="fa fa-caret-down icon"></i>
											</div>
											<div class="dropdown-list">
												<div class="dropdown-list__item">post office</div>
												<div class="dropdown-list__item">department</div>
											</div>
										</div>
										<span class="form--checkout-status"></span>
										<span class="form--checkout-message"></span>
									</div>
									<div class="form--checkout-group">
										<label
											for="address"
											class="form--checkout-label checkout-deli"
											>3. department address</label
										>
										<input
											type="text"
											id="address"
											placeholder="Your address"
											class="form--checkout-textbox"
										/>
										<span class="form--checkout-status"></span>
										<span class="form--checkout-message"></span>
									</div>
								</form>
							</div>
						</div>
						<div class="checkout--button">
							<a href="./checkout_step2.html" class="button--outline_round"
								>Back</a
							>
							<a href="#" class="button--rounded">Next Step</a>
						</div>
					</div>
				</div>
				<div class="rightside grid__column-4">
					<h3 class="rightside--header">Order</h3>
					<div class="order--details">
						<div class="product--card">
							<span class="ordinal_number">1.</span>
							<img
								src="../assets/img/willimg.jpg"
								alt=""
								class="product--img"
							/>
							<div class="product--info">
								<h3 class="product--name">Will</h3>
								<h4 class="product--auth thin--text">
									Will Smith, Mark Manson
								</h4>
							</div>
							<div class="product--quantity">
								<i class="fa-solid fa-minus"></i>
								<span class="quantity">1</span>
								<i class="fa-solid fa-plus"></i>
							</div>
							<div class="product--rightside">
								<a href="#" class="discard--button">
									<i class="fa-solid fa-xmark"></i>
								</a>
								<p class="product--price">15$</p>
							</div>
						</div>
						<div class="product--card">
							<span class="ordinal_number">2.</span>
							<img
								src="../assets/img/howtolive.jpg"
								alt=""
								class="product--img"
							/>
							<div class="product--info">
								<h3 class="product--name">How to live</h3>
								<h4 class="product--auth thin--text">Josh Cohen</h4>
							</div>
							<div class="product--quantity">
								<i class="fa-solid fa-minus"></i>
								<span class="quantity">1</span>
								<i class="fa-solid fa-plus"></i>
							</div>
							<div class="product--rightside">
								<a href="#" class="discard--button">
									<i class="fa-solid fa-xmark"></i>
								</a>
								<p class="product--price">15$</p>
							</div>
						</div>
						<div class="product--card">
							<span class="ordinal_number">3.</span>
							<img
								src="../assets/img/ulysses.jpg"
								alt=""
								class="product--img"
							/>
							<div class="product--info">
								<h3 class="product--name">Ulysses</h3>
								<h4 class="product--auth thin--text">Vintage Joyse</h4>
							</div>

							<div class="product--quantity">
								<i class="fa-solid fa-minus"></i>
								<span class="quantity">1</span>
								<i class="fa-solid fa-plus"></i>
							</div>
							<div class="product--rightside">
								<a href="#" class="discard--button">
									<i class="fa-solid fa-xmark"></i>
								</a>
								<p class="product--price">15$</p>
							</div>
						</div>
						<div class="other--fee">
							<div class="fee--card delivery">
								<div class="fee--info">
									<div class="fee--name">+ delivery</div>
									<p class="fee--desc thin--text">
										add just 5$ more for free delivery
									</p>
								</div>
								<div class="fee--cost">2$</div>
							</div>
							<div class="fee--card loyalty">
								<div class="fee--info">
									<div class="fee--name">+ loyalty system</div>
									<p class="fee--desc thin--text">
										you will able to pay with bonuses from the next purchase
									</p>
								</div>
								<div class="fee--cost">0$</div>
							</div>
						</div>
						<div class="amount">
							<div class="amount--info">
								<div class="amount--header">amount</div>
								<div class="order--date thin--text">
									Order issued on 10.10.2022
								</div>
							</div>
							<div class="total--amount">32$</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<my-footer></my-footer>
		<script src="../scripts/load_html.js"></script>
	</body>
</html>
