<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link rel="stylesheet" href="../assets/css/reset.css" />
		<link
			rel="stylesheet"
			href="../assets/fonts/fontawesome-free-6.1.1-web/fontawesome-free-6.1.1-web/css/all.min.css"
		/>
		<link rel="stylesheet" href="../assets/css/base.css" />
        <link rel="stylesheet" href="../assets/css/errorpage.css">
		<link rel="stylesheet" href="../assets/css/style.css" />
</head>
<body>
    <my-header></my-header>
    <section class="404 grid">
        <div class="grid__row">
            <div class="error__container">
                <div class="error__container-inline">
                    <div class="error__haft">
                        <h2 class="error__text">Ooops ...</h2>
                        <div class="error__white-text">404</div>
                        <h2 class="error__text">page not found</h2>
                        <a href="/index.html" class=" button--rounded error__button">GO TO HOMEPAGE</a>
                    </div>
                    <div class="error__haft">
                    </div>
                </div>
            </div>
            <div class="thanks__favourite-heading">
                Maybe you will be interested
            </div>
            <div class="thanks__favourite-list">
                <div class="thanks__favourite-book">
                    <img src="../assets/img/bookofthemonth.jpg" alt="" class="thanks__favourite-img">
                    <h3 class="thanks__favourite-title">The Serect Netwwork</h3>
                    <p class="thanks__favourite-author">Peter Wohlleben</p>
                    <div class="thanks__favouvire-price">13$</div>
                    <div class=" button--rounded thanks__button">BUY NOW</div>
                </div>
                <div class="thanks__favourite-book">
                    <img src="../assets/img/bookofthemonth.jpg" alt="" class="thanks__favourite-img">
                    <h3 class="thanks__favourite-title">The Serect Netwwork</h3>
                    <p class="thanks__favourite-author">Peter Wohlleben</p>
                    <div class="thanks__favouvire-price">13$</div>
                    <div class="button--rounded thanks__button">BUY NOW</div>
                </div>
                <div class="thanks__favourite-book">
                    <img src="../assets/img/bookofthemonth.jpg" alt="" class="thanks__favourite-img">
                    <h3 class="thanks__favourite-title">The Serect Netwwork</h3>
                    <p class="thanks__favourite-author">Peter Wohlleben</p>
                    <div class="thanks__favouvire-price">13$</div>
                    <div class=" button--rounded thanks__button">BUY NOW</div>
                </div>
                <div class="thanks__favourite-book">
                    <img src="../assets/img/bookofthemonth.jpg" alt="" class="thanks__favourite-img">
                    <h3 class="thanks__favourite-title">The Serect Netwwork</h3>
                    <p class="thanks__favourite-author">Peter Wohlleben</p>
                    <div class="thanks__favouvire-price">13$</div>
                    <div class=" button--rounded thanks__button">BUY NOW</div>
                </div>
                <div class="thanks__favourite-book">
                    <img src="../assets/img/bookofthemonth.jpg" alt="" class="thanks__favourite-img">
                    <h3 class="thanks__favourite-title">The Serect Netwwork</h3>
                    <p class="thanks__favourite-author">Peter Wohlleben</p>
                    <div class="thanks__favouvire-price">13$</div>
                    <div class=" button--rounded thanks__button">BUY NOW</div>
                </div>
                <div class="thanks__favourite-book">
                    <img src="../assets/img/bookofthemonth.jpg" alt="" class="thanks__favourite-img">
                    <h3 class="thanks__favourite-title">The Serect Netwwork</h3>
                    <p class="thanks__favourite-author">Peter Wohlleben</p>
                    <div class="thanks__favouvire-price">13$</div>
                    <div class=" button--rounded thanks__button">BUY NOW</div>
                </div>
                <div class="thanks__favourite-book">
                    <img src="../assets/img/bookofthemonth.jpg" alt="" class="thanks__favourite-img">
                    <h3 class="thanks__favourite-title">The Serect Netwwork</h3>
                    <p class="thanks__favourite-author">Peter Wohlleben</p>
                    <div class="thanks__favouvire-price">13$</div>
                    <div class=" button--rounded thanks__button">BUY NOW</div>
                </div>
            </div>
        </div>
    </section>
    <my-footer></my-footer>
    <script src="../scripts/load_html.js"></script>
</body>

</html>