<footer class="footer">
	<div class="footer__head">
		<div class="grid__full-width">
			<div class="grid__row">
				<div class="grid__column-3 footer__object">
					<h3 class="footer__heading">Stay Connected</h3>
					<div class="footer__endtext">
						Keep up on the best new books, timely features, and special offers
					</div>
					<div class="footer__contact">
						<div class="footer__contact-title">Email</div>
						<div class="footer__contact-type">
							<input type="email" class="footer__contact-email" />
							<input type="submit" class="footer__contact-submit" />
						</div>
					</div>
				</div>
				<div class="grid__column-2 footer__object">
					<h3 class="footer__heading">Help</h3>
					<ul class="footer-list">
						<li class="footer-item">
							<a href="" class="footer-item__link">Contact Us</a>
						</li>
						<li class="footer-item">
							<a href="" class="footer-item__link">Help Topics</a>
						</li>
						<li class="footer-item">
							<a href="" class="footer-item__link">Guarantee</a>
						</li>
						<li class="footer-item">
							<a href="" class="footer-item__link">Shipping</a>
						</li>
						<li class="footer-item">
							<a href="" class="footer-item__link">Terms</a>
						</li>
					</ul>
				</div>
				<div class="grid__column-2 footer__object">
					<h3 class="footer__heading">Explore</h3>
					<ul class="footer-list">
						<li class="footer-item">
							<a href="" class="footer-item__link">Catalog</a>
						</li>
						<li class="footer-item">
							<a href="" class="footer-item__link">About Us</a>
						</li>
						<li class="footer-item">
							<a href="" class="footer-item__link">Carees</a>
						</li>
						<li class="footer-item">
							<a href="" class="footer-item__link">Gift Cards</a>
						</li>
					</ul>
				</div>
				<div class="grid__column-2 footer__object">
					<h3 class="footer__heading">Account</h3>
					<ul class="footer-list">
						<li class="footer-item">
							<a href="" class="footer-item__link">My Account</a>
						</li>
						<li class="footer-item">
							<a href="" class="footer-item__link">Wish List</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
