<div class="header">
	<div class="grid__full-width">
		<div class="grid__row">
			<div class="grid__column-2 ">
				<a href="#" class="header-shop-logo"
					><img src="../assets/img/bookstorelogo.png" alt="LOGO" class="logo"
				/></a>
				<!-- <div class="header-shop-name">NDCS.STORE</div> -->
			</div>
			<div class="grid__column-6">
				<div class="header__search">
					<i class="fa-solid fa-magnifying-glass header__search-icon"></i>
					<input type="text" placeholder="search" class="header__search-bar" />
				</div>
				<ul class="header__option-list">
					<li class="header__option-item">
						<a href="" class="header__option-item-link">payment</a>
					</li>
					<li class="header__option-item">
						<a href="" class="header__option-item-link">delivery</a>
					</li>
					<li class="header__option-item">
						<a href="" class="header__option-item-link">for business</a>
					</li>
					<li class="header__option-item">
						<a href="" class="header__option-item-link">contacts</a>
					</li>
				</ul>
			</div>
			<div class="grid__column-2">
				<div class="header__info">
					<ul class="header__info-list">
						<li class="header__info-item">
							eng/$
							<i class="fa-solid fa-chevron-down header__info-icon"></i>
						</li>
						<li class="header__info-item">profile</li>
						<li class="header__info-item">
							<a href="" class="header__info-item-link">
								<i class="fa-solid fa-cart-shopping header__info-icon"></i>
								<span>Cart</span>
							</a>
						</li>
					</ul>
					<div class="header__contact">
						<div class="header__contact-location">
							<i class="fa-solid fa-map-pin"></i>
							<span>Viet Nam</span>
						</div>
						<div class="header__contact-phonenumber">+84 0938777182</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
