<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../assets/css/reset.css" />
		<link rel="stylesheet" href="../assets/css/base.css" />
		<link
			rel="stylesheet"
			href="../assets/fonts/fontawesome-free-6.1.1-web/fontawesome-free-6.1.1-web/css/all.min.css"
		/>
		<link rel="stylesheet" href="../assets/css/login.css" />

		<title>Log in</title>
	</head>
	<body>
		<div class="login-container">
			<a href="../index.html" class="logo">
				<img src="../assets/img/LogoLight.svg" alt="logo" />
			</a>
			<img src="../assets/img/ImgLogin.svg" alt="" class="login--img" />
			<div class="login-content">
				<h3 class="login-header">Welcome</h3>
				<form action="#" class="login-form">
					<div class="form__login-group">
						<input
							type="text"
							class="form__login-input"
							placeholder="Username or Email"
						/>
					</div>
					<div class="form__login-group">
						<input
							type="password"
							class="form__login-input"
							placeholder="Password"
						/>
						<i class="fa-solid fa-eye-slash show_pass-icon"></i>
					</div>
					<div class="forgot__pass">
						<a href="#" class="">I forgot my password</a>
					</div>
					<div class="form__login-group">
						<button type="submit" class="form__login-submit">Log in</button>
					</div>
				</form>
				<p class="separate-text">- OR -</p>
				<div class="other--login__method">
					<a href="#" class="login__outline--button"
						><img
							src="../assets/img/icons8-google.svg"
							alt="google-icon"
							class="google-icon"
						/>
						Log in with Google</a
					>
					<a href="#" class="login__outline--button"
						><img
							src="../assets/img/icons8-facebook.svg"
							alt="google-icon"
							class="google-icon"
						/>
						Log in with Facebook</a
					>
				</div>
				<p class="text">
					Not a member yet? <a href="./signup.html" class="sigup">Sign up for free</a>
				</p>
			</div>
		</div>
	</body>
</html>
