<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Cart</title>
		<link rel="stylesheet" href="../assets/css/reset.css" />
		<link
			rel="stylesheet"
			href="../assets/fonts/fontawesome-free-6.1.1-web/fontawesome-free-6.1.1-web/css/all.min.css"
		/>
		<link rel="stylesheet" href="../assets/css/base.css" />
		<link rel="stylesheet" href="../assets/css/order_history_details.css" />
	</head>
	<body>
		<section class="cart__shop grid">
			<div class="grid__row">
				<div class="order_history-container">
					<h2 class="order_history-title">Book cart</h2>
					<div class="order_history-list">
						<div class="table-row table-header">
							<div class="table-col">Item</div>
							<div class="table-col">Quantity</div>
							<div class="table-col">Total price</div>
							<div class="table-col">Receive Information</div>
							<div class="table-col">Payment method</div>
							<div class="table-col"></div>
						</div>
						<div class="table-row">
							<div class="option__item-info table-col">
								<img
									src="../assets/img/bookofthemonth.jpg"
									alt=""
									class="option__item-img"
								/>
								<div class="option__item-text">
									<p class="option__item-name">
										Will Will Will WillWill Will Will WillWill Will Will Will
									</p>
									<p class="option__item-author">
										Will Smith, Mark MansonWill Smith, Mark MansonWill Smith,
										Mark Manson
									</p>
								</div>
							</div>
							<div class="table-col">1</div>
							<span class="table-col">15$</span>
							<div class="table-col receive-information">
								<p class="name">Loc Son</p>
								<p class="phone">0357416074</p>
								<p class="address">Ap 6, Hoa Binh, Xuyen Moc, BR-VT</p>
							</div>
							<div class="table-col">
								<p class="payment-method">Credit card</p>
								<p class="card-number">2222 2222 2222 2222</p>
							</div>
							<div class="table-col">
								<a href="#" class="give-comment">
									<i class="fa-solid fa-comment"></i>
								</a>
							</div>
						</div><div class="table-row">
							<div class="option__item-info table-col">
								<img
									src="../assets/img/bookofthemonth.jpg"
									alt=""
									class="option__item-img"
								/>
								<div class="option__item-text">
									<p class="option__item-name">
										Will Will Will WillWill Will Will WillWill Will Will Will
									</p>
									<p class="option__item-author">
										Will Smith, Mark MansonWill Smith, Mark MansonWill Smith,
										Mark Manson
									</p>
								</div>
							</div>
							<div class="table-col">1</div>
							<span class="table-col">15$</span>
							<div class="table-col receive-information">
								<p class="name">Loc Son</p>
								<p class="phone">0357416074</p>
								<p class="address">Ap 6, Hoa Binh, Xuyen Moc, BR-VT</p>
							</div>
							<div class="table-col">
								<p class="payment-method">Credit card</p>
								<p class="card-number">2222 2222 2222 2222</p>
							</div>
							<div class="table-col">
								<a href="#" class="give-comment">
									<i class="fa-solid fa-comment"></i>
								</a>
							</div>
						</div><div class="table-row">
							<div class="option__item-info table-col">
								<img
									src="../assets/img/bookofthemonth.jpg"
									alt=""
									class="option__item-img"
								/>
								<div class="option__item-text">
									<p class="option__item-name">
										Will Will Will WillWill Will Will WillWill Will Will Will
									</p>
									<p class="option__item-author">
										Will Smith, Mark MansonWill Smith, Mark MansonWill Smith,
										Mark Manson
									</p>
								</div>
							</div>
							<div class="table-col">1</div>
							<span class="table-col">15$</span>
							<div class="table-col receive-information">
								<p class="name">Loc Son</p>
								<p class="phone">0357416074</p>
								<p class="address">Ap 6, Hoa Binh, Xuyen Moc, BR-VT</p>
							</div>
							<div class="table-col">
								<p class="payment-method">Credit card</p>
								<p class="card-number">2222 2222 2222 2222</p>
							</div>
							<div class="table-col">
								<a href="#" class="give-comment">
									<i class="fa-solid fa-comment"></i>
								</a>
							</div>
						</div><div class="table-row">
							<div class="option__item-info table-col">
								<img
									src="../assets/img/bookofthemonth.jpg"
									alt=""
									class="option__item-img"
								/>
								<div class="option__item-text">
									<p class="option__item-name">
										Will Will Will
									</p>
									<p class="option__item-author">
										Will Smith, Mark MansonWill Smit
									</p>
								</div>
							</div>
							<div class="table-col">1</div>
							<span class="table-col">15$</span>
							<div class="table-col receive-information">
								<p class="name">Loc Son</p>
								<p class="phone">0357416074</p>
								<p class="address">Ap 6, Hoa Binh, Xuyen Moc, BR-VT</p>
							</div>
							<div class="table-col">
								<p class="payment-method">Credit card</p>
								<p class="card-number">2222 2222 2222 2222</p>
							</div>
							<div class="table-col">
								<a href="#" class="give-comment">
									<i class="fa-solid fa-comment"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<script src="../scripts/load_html.js"></script>
	</body>
</html>
