<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../assets/css/reset.css" />
		<link rel="stylesheet" href="../assets/css/base.css" />
		<link
			rel="stylesheet"
			href="../assets/fonts/fontawesome-free-6.1.1-web/fontawesome-free-6.1.1-web/css/all.min.css"
		/>
		<link rel="stylesheet" href="../assets/css/signup.css" />

		<title>Sign up</title>
	</head>
	<body>
		<div class="signup-container">
			<a href="../index.html" class="logo">
				<img src="../assets/img/LogoLight.svg" alt="logo" />
			</a>
			<div class="signup--image">
				<img src="../assets/img/ImgSignup.svg" alt="" />
			</div>
			<div class="signup-content">
				<h3 class="signup-header">Sign up</h3>
				<div class="other--signup__method">
					<a href="#" class="signup__outline--button"
						><img
							src="../assets/img/icons8-google.svg"
							alt="google-icon"
							class="google-icon"
						/>
						Sign up with Google</a
					>
					<a href="#" class="signup__outline--button"
						><img
							src="../assets/img/icons8-facebook.svg"
							alt="google-icon"
							class="google-icon"
						/>
						Sign up with Facebook</a
					>
				</div>
				<p class="separate-text">- OR -</p>

				<form action="#" class="signup-form">
					<div class="form__signup-group">
						<input
							type="text"
							class="form__signup-input"
							id="Fullname"
							required
						/>
						<div class="underline"></div>
						<label for="Fullname">Full Name</label>
					</div>
					<div class="form__signup-group">
						<input
							type="email"
							class="form__signup-input"
							id="Email"
							required
						/>
						<div class="underline"></div>
						<label for="Email">Email</label>
					</div>
					<div class="form__signup-group">
						<input
							type="password"
							class="form__signup-input"
							id="Password"
							required
						/>
						<div class="underline"></div>
						<label for="Password">Password</label>
						<div class="show__pass--icon">
							<i class="fa-solid fa-eye-slash"></i>
						</div>
					</div>
					<div class="form__signup-group submit--button">
						<button type="submit" class="form__signup-submit">
							Create Account
						</button>
					</div>
				</form>
				<p class="text">
					Already have an account?
					<a href="./login.html" class="login">Log in</a>
				</p>
			</div>
		</div>
	</body>
</html>
