@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@300;500;700;800&display=swap");

:root {
	--primary-color: #166c9d;
	--accent-light-color: #c9d6ff;
	--accent-dark-color: #166c9d;
	--accent-color: #d9a7c7;
	--danger-color: #dd5353;
	--background-color: #f8f6e7;
	--white-color: #fff;
	--text-color: #000;
	--header-height: 100px;
	--border: 3px solid var(--accent-dark-color);
	--border-thin: 2px solid var(--accent-dark-color);
	--font: "Catamaran", sans-serif;
}
html {
	/* 1rem = 10px */
	font-size: 62.5%;
	line-height: 1.6rem;
	font-family: var(--font);
	box-sizing: border-box;
	background: rgb(248, 246, 231);
	background: linear-gradient(
		90deg,
		rgba(248, 246, 231, 1) 2%,
		rgba(63, 153, 204, 0.3) 47%,
		rgba(220, 175, 202, 0.6) 74%,
		rgba(248, 246, 231, 0.7) 97%
	);
}

/* Responsive */
.grid {
	width: 1200px;
	max-width: 100%;
	margin: 0 auto;
}

.grid__full-width {
	width: 100%;
}

.grid__row {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

/* Test */
.grid__column-2 {
	width: 20%;
}

.grid__column-3 {
	width: 30%;
}

.grid__column-4 {
	width: 40%;
}

.grid__column-5 {
	width: 50%;
}

.grid__column-6 {
	width: 60%;
}

.grid__column-2-4 {
	padding-left: 6px;
	padding-right: 6px;
	width: 20%;
}

.grid__column-7 {
	width: 70%;
}

/* Grid Default */

.grid__row-df {
	display: flex;
	flex-wrap: wrap;
}

.grid__column-2-df {
	width: 16.667%;
}

.grid__column-2-4-df {
	width: 25%;
}

.grid__column-8-df {
	width: 66.67%;
}

.grid__column-10-df {
	width: 83.334%;
}

/* End Grid Default */

/* News */

.main__news {
	width: 100%;
	margin-top: 3rem;
}

.main__news-header {
	display: flex;
	justify-content: space-between;
}

.main__news-title {
	color: var(--primary-color);
	font-size: 4rem;
	font-weight: 400;
	text-transform: uppercase;
	margin-left: 80px;
}

.main__news-seeall {
	text-decoration: none;
	color: var(--primary-color);
	margin: auto 0;
	font-size: 2rem;
	text-transform: uppercase;
}

/* button */
.button--outline {
	display: inline-block;
	padding: 1rem 2rem;
	height: 2.5rem;
	line-height: 2.5rem;
	font-weight: 700;
	font-size: 1.6rem;
	cursor: pointer;
	border: none;
	outline: none;
	text-align: center;
	white-space: nowrap;
	background-color: transparent;
	color: var(--accent-dark-color);
	position: relative;
	text-decoration: none;
}

.button--outline::after,
.button--outline::before {
	border: var(--border);
	content: "";
	position: absolute;
	width: calc(100% - 6px);
	height: calc(100% - 6px);
	left: 0;
	bottom: 0;
	z-index: -1;
	transition: transform 0.3s ease;
}

.button--outline:hover::after {
	transform: translate(-5px, -5px);
}

.button--outline:hover::before {
	transform: translate(5px, 5px);
}

.button--outline_round {
	display: inline-block;
	min-height: 2.5rem;
	line-height: 2.5rem;
	padding: 1rem 2rem;
	font-weight: 700;
	font-size: 1.6rem;
	cursor: pointer;
	border: var(--border);
	outline: none;
	text-align: center;
	white-space: nowrap;
	background-color: transparent;
	color: var(--accent-dark-color);
	position: relative;
	text-decoration: none;
	border-radius: 3.5rem;
}
.button--rounded {
	display: inline-block;
	padding: 1rem 2rem;
	height: 2.5rem;
	line-height: 2.5rem;
	font-weight: 700;
	font-size: 1.6rem;
	cursor: pointer;
	border: none;
	outline: none;
	text-align: center;
	color: var(--background-color);
	position: relative;
	border-radius: 100rem;
	background-color: var(--accent-dark-color);
	box-shadow: 0 0 0 2px var(--accent-light-color),
		0 0 0 5px var(--accent-dark-color);
	transition: all 0.3s linear;
	text-decoration: none;
}

.button--rounded:hover {
	box-shadow: 0 0 0 5px rgba(22, 108, 157, 0.1),
		0 0 10px 10px rgba(22, 108, 157, 0.2), 0 0 5px rgba(22, 108, 157, 0.3),
		0 0 10px 10px rgba(22, 108, 157, 0.4);
}
/* end button */

/* ====== css for typography ======*/
.thin--text {
	font-weight: 400;
}
.strong--text {
	font-weight: 800;
}

.catalog-book-maintype-title {
	cursor: pointer;
}

.translateX-10rem {
	transform: translateX(10rem);
}
