body {
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: var(--font);
}

.signup-container {
	background: var(--primary-color);
	display: flex;
	max-width: 1500px;
	min-width: 80vw;
	font-size: 1.4rem;
	position: relative;
}
.logo {
	flex-grow: 5;
}
.logo img {
	width: 3.5rem;
	height: auto;
	object-fit: cover;
	padding: 2.5rem;
}

.signup-container .signup--img {
	position: absolute;
	width: 50rem;
	height: auto;
	top: 50%;
	left: 2.5rem;
	transform: translateY(-40%);
}
.signup-content {
	background: var(--background-color);
	min-height: 70vh;
	height: 100%;
	border-radius: 5rem 0 0 5rem;
	padding: 3rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	flex-grow: 5;
}

.signup-content .signup-header {
	font-size: 2.4rem;
	color: var(--primary-color);
	font-weight: 600;
	margin-bottom: 4rem;
}
.signup-container .signup-form {
	width: 42.5rem;
}
.signup-container .signup-form .forgot__pass a {
	text-decoration: none;
	color: var(--primary-color);
	font-size: 1.6rem;
}
.signup-container .signup-form .form__signup-group {
	display: flex;
	align-items: center;
	position: relative;
	margin-bottom: 4.5rem;
}

.signup-container .signup-form .form__signup-group .form__signup-input {
	outline: none;
	border: none;
	background: var(--background-color);
	border-bottom: 1px solid #a6c7d2;
	width: 100%;
}

.signup-container .signup-form .form__signup-group .show_pass-icon {
	position: absolute;
	top: 0;
	right: 0;
	color: #7ed0ff;
}
.signup-container .signup-form .form__signup-group.submit--button {
	background: var(--black-color);
}
.signup-container .signup-form .form__signup-group .form__signup-submit {
	font-size: 2rem;
	height: 4.6rem;
	width: 100%;
	border: none;
	background: var(--primary-color);
	color: var(--background-color);
	font-family: var(--font);
	cursor: pointer;
	transition: transform 0.3s linear;
}

.signup-container .signup-form .form__signup-group .form__signup-submit:hover {
	transform: translate(-0.6rem, -0.6rem);
}
.signup-content .other--signup__method {
	display: flex;
	justify-content: space-between;
	width: 42.5rem;
}
.signup-content .other--signup__method .signup__outline--button {
	text-decoration: none;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 20rem;
	height: 4.6rem;
	border: var(--border-thin);
	border-radius: 0.5rem;
	color: var(--primary-color);
	opacity: 0.7;
	transition: opacity 0.2s ease-in;
}

.signup-content .other--signup__method .signup__outline--button:hover {
	opacity: 1;
}

.signup-content .other--signup__method .signup__outline--button img {
	width: 2.2rem;
	height: auto;
	object-fit: cover;
	overflow: hidden;
}
.signup-container .separate-text {
	font-size: 1.8rem;
	color: #a6c7d2;
	margin: 5rem 0;
}

.signup-container .text {
	color: #5a95b3;
	font-size: 1.6rem;
}
.signup-container .login {
	text-decoration: none;
	color: var(--primary-color);
	opacity: 0.6;
	transition: opacity 0.3s linear;
}
.signup-container .text:hover .login {
	opacity: 1;
}
